@mixin desktop {
  @media (min-width: 40rem) {
    @content;
  }
}
@mixin page-break {
  @media (min-width: 60rem) {
    @content;
  }
}

@mixin style-button($color: #2196F3) {
  background-color: $color;
  border-radius: .3rem;
  border-color: $color;
  // box-shadow: inset -1px -1px 0px 0px #fff;
  color: #fff;
  transition: background .25s ease;
  margin-right: .5rem;
  &:hover{
    background-color: lighten($color, 10%);
  }
}

@mixin vert-center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space;
  flex-direction: column;
}

@mixin vert-space-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
