<% content_for(:whole_page) do %>

  <div class="home">
    <section class="hero">
      <div class="homepage-hero-module">
        <div class="video-container">
          <div class="filter"></div>
          <video autoplay loop class="fillWidth">
            <source src="./video/MP4/Hey-World.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="./video/WEBM/Hey-World.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
          <div class="poster hidden">
            <img src="./video/Snapshots/Hey-World.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="hero--content">
        <h1 class="hero--content__title">Welcome to the Nail Shop</h1>
        <p class="hero--content__tag-line">
          Custom looking nails without the hassle.
        </p>
        <%= link_to "View our Current Products", products_path, class: "button button--action"%>
      </div>
    </section>
  </div>

<% end %>
