.cart{
  position: relative;
  display: inline-block;
  &--icon {
    font-size: $large-font-size;
    font-weight: bold;
  }
  &--count {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    bottom:-.8rem;
    color: $pink;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    height: 1.6rem;
    justify-content: center;
    position: absolute;
    right:-.8rem;
    text-align: center;
    width: 1.6rem;
  }
}
